Repository mercuridi/starwatch, pull requests merged in 2025-08, with the labels that each got.

#81 70: Extract Script for AuroraWatchUK API
  src/extract_aurora.py
Labels: enhancement, extract

#97 94: Aurora Data Added to Dashboard
  dashboard/dashboard.py
  src/aurora_etl.py
Labels: enhancement, dashboard

#96 84: Extract script to pull APOD and NEO from the NASA API
  src/extract_nasa.py
Labels: extract
